{% block address_widget %}
    {% spaceless %}
        <div>
            <div class="row">
                <div class="col">{{ form_row(form.street_name) }}</div>
                <div class="col">{{ form_row(form.zip_code) }}</div>
                <div class="col">{{ form_row(form.city) }}</div>
            </div>
            <div class="row">
                <div class="col">
                    {{ form_row(form.users) }}
                </div>
            </div>

            {#{% for child in form %}#}
                {#{{ form_widget(child) }}#}
                {#{{ form_label(child) }}#}
            {#{% endfor %}#}
        </div>
    {% endspaceless %}
    <script>
        $(function () {
            $("#project_adress_street_name").css('color', 'red');
        });
    </script>
{% endblock %}