<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/vendor/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/vendor/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Sprint Symfony</a>
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="{{ path('homepage') }}">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ path('projects_index') }}">Projekty</a></li>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('logout') }}"><i class="fa fa-sign-out"></i>Wyloguj</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('login') }}"><i class="fa fa-sign-in"></i>&nbsp;Zaloguj</a>
                </li>
                <li>
                    <a class="nav-link" href="{{ path('user_registration') }}">Zarejestruj</a>
                </li>
            {% endif %}
        </ul>
    </nav>
    {% block body %}{% endblock %}
</div>
{% block javascripts %}
    <script src="{{ asset('js/vendor/jquery-3.2.1.slim.min.js') }}"></script>
    {#<script src="http://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>#}
    <script src="{{ asset('js/vendor/bootstrap.min.js') }}"></script>
{% endblock %}
</body>
</html>
