{% extends 'base.html.twig' %}

{% block body %}
    <h1>Strona główna</h1>
    {% if is_granted('ROLE_ADMIN') %}
        <p>Jesteś zalogowany jako admin</p>
    {% endif %}
    {% if is_granted('ROLE_USER') %}
        <p>Jako user</p>
    {% endif %}

    {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
        <a href="{{ path('homepage', {'_switch_user': '_exit'}) }}">Exit impersonation</a>
    {% endif %}

    {{ 'category' |trans }}

    {{ 23.4356 |price(1, ',', ' ') }}
{% endblock %}
