{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col">
            <h1>{{ project.name }}</h1>
            <p>{{ project.description }}</p>
            <a href="{{ path('project_comment_add', {'id': project.id}) }}" class="btn btn-light"><i class="fa fa-comment-o"></i>&nbsp;Dodaj komentarz</a>
        </div>
        {% if project.image %}
        <div class="col">
            <img class="img-fluid" src="{{ asset(project_upload_dir ~ project.image) }}" alt="">
        </div>
        {% endif %}
    </div>
    <div class="row">
        <div class="col">
            {% if comments is not empty %}
                <ul>
                    {% for comment in comments %}
                        <li>
                            <p>{{ comment.content }}</p>
                            <small>{{ comment.createdAt |date('Y-m-d') }} przez {{ comment.owner.username }}</small>
                            {% if is_granted('edit', comment) %}
                                <a href="{{ path('project_comment_edit', {'id': comment.id}) }}" class="btn btn-outline-warning btn-sm"><i class="fa fa-pencil"></i></a>
                            {% endif %}
                            {% if is_granted('delete', comment) %}
                                <a href="{{ path('project_comment_remove', {'id': comment.id}) }}" class="btn btn-outline-danger btn-sm"><i class="fa fa-trash-o"></i></a>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
{% endblock %}
