{% extends 'base.html.twig' %}

{% block body %}

    {# total items count #}
    <div class="count">
        {{ pagination.getTotalItemCount }}
    </div>
    <table>
        <tr>
            {# sorting of properties based on query components #}
            {#<th>{{ knp_pagination_sortable(pagination, 'Id', 'a.id') }}</th>#}
            {#<th{% if pagination.isSorted('a.name') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Name', 'a.name') }}</th>#}
            {#<th>{{ knp_pagination_sortable(pagination, 'Release', ['a.date', 'a.time']) }}</th>#}
            <th></th>
            <th></th>
            <th></th>
        </tr>

        {# table body #}
        {% for project in pagination %}
            <tr {% if loop.index is odd %}class="color"{% endif %}>
                <td>{{ project.id }}</td>
                <td>{{ project.name }}</td>
                <td>{{ project.createdAt | date('Y-m-d') }}</td>
            </tr>
        {% endfor %}
    </table>
    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>


    {##}
    {#<div class="row">#}
        {#<div class="col">#}
            {#<h1>Projekty</h1>#}
        {#</div>#}
    {#</div>#}
    {#<div class="row">#}
        {#<div class="col">#}
        {#</div>#}
    {#</div>#}
    {#<div class="row">#}
        {#{% for project in projects %}#}
            {#<div class="col-6">#}
                {#<div class="card">#}
                    {#<div class="card-body">#}
                        {#<h4 class="card-title">#}
                            {#<a href="{{ path('project_show', {'slug':project.slug}) }}">#}
                                {#{{ project.name }}#}
                            {#</a>#}
                        {#</h4>#}
                        {#{{ project.description }}#}
                    {#</div>#}
                    {#{% if project.awards is not empty %}#}
                    {#<ul class="list-group list-group-flush">#}
                        {#{% for award in project.awards %}#}
                            {#<li class="list-group-item">#}
                                {#<i class="fa fa-star"></i>&nbsp;{{ award.title }}#}
                            {#</li>#}
                        {#{% endfor %}#}
                    {#</ul>#}
                    {#{% endif %}#}
                {#</div>#}
            {#</div>#}
        {#{% endfor %}#}
    {#</div>#}
{% endblock %}
