<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Panel administracyjny{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/vendor/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/vendor/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    {% endblock %}
    <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    {% block javascripts_head %}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
<div class="container">
    {% for msg in app.session.flashBag.get('success') %}
        <div class="alert alert-success">
            {{ msg }}
        </div>
    {% endfor %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item {% if app.request.attributes.get('_route') == 'admin_index' %}active{% endif %}">
                    <a class="nav-link" href="{{ path('admin_index') }}"><i class="fa fa-home"></i>&nbsp;Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item {% if app.request.attributes.get('_route') == 'admin_project_list' %}active{% endif %}">
                    <a class="nav-link" href="{{ path('admin_project_list') }}"><i class="fa fa-building-o"></i>&nbsp;Projekty</a>
                </li>
                <li class="nav-item {% if app.request.attributes.get('_route') == 'admin_award_index' %}active{% endif %}">
                    <a class="nav-link" href="{{ path('admin_award_index') }}"><i class="fa fa-star-o"></i>&nbsp;Nagrody</a>
                </li>
            </ul>
        </div>
    </nav>
    {% block body %}{% endblock %}
</div>
{% block javascripts %}
    {#<script src="http://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>#}
    <script src="{{ asset('js/vendor/bootstrap.min.js') }}"></script>
{% endblock %}
</body>
</html>
