{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form) }}
        {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary" formnovalidate>Dodaj</button>
    {{ form_end(form) }}
{% endblock %}