{% extends "admin/base.html.twig" %}

{% block title %}Dodawanie projektu{% endblock %}

{% block javascripts_head %}
    {{ parent() }}
    <script src="{{ asset('js/jquery.collection.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <h1>Dodawanie projektu</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% form_theme form 'jquery.collection.html.twig' %}
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-primary">Dodaj</button>
            {{ form_end(form) }}
        </div>
    </div>
    <script type="text/javascript">
        $('.awards-collection').collection({allow_duplicate: true});
    </script>
{% endblock %}