{% extends "admin/base.html.twig" %}

{% block title %}{{ project.name }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h1>{{ project.name }}</h1>
                </div>
                <div class="card-body">
                    {{ project.description |raw }}
                    <h2>Nagrody</h2>
                    <ul>
                        {% for award in project.awards %}
                            <li>{{ award.title }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="card-footer">
                    <span>Utworzony: {{ project.createdAt |date('Y-m-d') }}</span>
                    {% if project.updatedAt is not null %}
                        <br/>
                        <span>Aktualizowany: {{ project.updatedAt |date('Y-m-d') }}</span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}