{% extends 'base.html.twig' %}

{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">Zaloguj się</div>
                <div class="card-body">
                    <form action="{{ path('login') }}" method="post">
                        <input type="hidden" name="_csrf_token"
                               value="{{ csrf_token('authenticate') }}">
                        <div class="form-group">
                            <input class="form-control" type="text" id="username" name="_username"
                                   placeholder="username" value="{{ last_username }}"/>
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="password" id="password" placeholder="password"
                                   name="_password"/>
                        </div>

                        {#
                            If you want to control the URL the user
                            is redirected to on success (more details below)
                            <input type="hidden" name="_target_path" value="/account" />
                        #}

                        <button type="submit" class="btn btn-primary">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}