{% extends "admin/base.html.twig" %}

{% block title %}Dodawanie nagrody{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <h1>Dodawanie nagrody</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
            {{ form_widget(form) }}
                <button type="submit" class="btn btn-primary">Dodaj</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}