{% extends "admin/base.html.twig" %}

{% block title %}Edycja {{ award.title }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <h1>Edycja {{ award.title }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-primary">Zapisz</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}