{% extends "admin/base.html.twig" %}

{% block title %}Nagrody{% endblock %}

{% block body %}
    <div class="row listing-header">
        <div class="col">
            <h1><i class="fa fa-star-o"></i>&nbsp;Nagrody</h1>
            <a href="{{ path('admin_award_add') }}" class="btn btn-primary"><i class="fa fa-plus"></i>&nbsp;Dodaj nagrodę</a>
        </div>
    </div>
    <div class="row">
    </div>
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Nazwa</th>
                    <th>Projekt</th>
                    <th>Stworzona</th>
                    <th>Aktualizacja</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for award in awards %}
                    <tr>
                        <td>{{ award.id }}</td>
                        <td>{{ award.title }}</td>
                        <td>{{ award.project.name }}</td>
                        <td>{{ award.createdAt |date('Y-m-d') }}</td>
                        <td>{{ award.updatedAt ? award.updatedAt |date('Y-m-d') : '-' }}</td>
                        <td>
                            <a href="{{ path('admin_award_show', {'id': award.id}) }}" class="btn btn-info">
                                Pokaż
                            </a>
                        </td>
                        <td>
                            <a href="{{ path('admin_award_edit', {'id': award.id}) }}" class="btn btn-warning">
                                <i class="fa fa-pencil"></i>&nbsp;Edycja
                            </a>
                        </td>
                        <td>
                            <a href="{{ path('admin_award_remove', {'id': award.id}) }}" onclick="return confirm('Na pewno?');" class="btn btn-danger">
                                <i class="fa fa-remove"></i>&nbsp;Usuń
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}