{% extends "admin/base.html.twig" %}

{% block title %}{{ award.name }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <h1>{{ award.title }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    {{ award.description }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}