{% extends "admin/base.html.twig" %}

{% block title %}Projekty{% endblock %}


{% block body %}
    <div class="row">
        <div class="col">
            <h1><i class="fa fa-building-o"></i>&nbsp;Projekty</h1>
            <a href="{{ path('admin_project_add') }}" class="btn btn-primary"><i class="fa fa-plus"></i>&nbsp;Dodaj projekt</a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Nazwa</th>
                    <th>Slug</th>
                    <th>Publikowany</th>
                    <th>Stworzony</th>
                    <th>Aktualizacja</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for project in projects %}
                    <tr>
                        <td>{{ project.id }}</td>
                        <td>{{ project.name }}</td>
                        <td>{{ project.slug }}</td>
                        <td>
                            {% if project.isPublished %}
                                <i class="fa fa-check-circle-o"></i>
                            {% else %}
                                <i class="fa fa-remove"></i>
                            {% endif %}
                        </td>
                        <td>{{ project.createdAt |date('Y-m-d') }}</td>
                        <td>{{ project.updatedAt ? project.updatedAt |date('Y-m-d') : '-' }}</td>
                        <td>
                            <a href="{{ path('admin_project_show', {'id': project.id}) }}" class="btn btn-info">
                                Pokaż
                            </a>
                        </td>
                        <td>
                            <a href="{{ path('admin_project_edit', {'id': project.id}) }}" class="btn btn-warning">
                                <i class="fa fa-pencil"></i>&nbsp;Edycja
                            </a>
                        </td>
                        <td>
                            <a href="{{ path('admin_project_remove', {'id': project.id}) }}" onclick="return confirm('Na pewno?');" class="btn btn-danger">
                                <i class="fa fa-remove"></i>&nbsp;Usuń
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}